mixin galleryItem(set, path, rw)
  div(class="item " + (rw || "col-sm-6 col-md-4 col-lg-3"))
    a(href=`img/${path}` data-lightbox=set)
      img(class="img-fluid" src=`img/thumbnail/${path}`)

mixin galleryRow(set, paths, rw)
  .row.photos
    each path in paths
      +galleryItem(set, path, rw)

mixin gallery(set, paths, rw)
  div(id=set class="photo-gallery")
    +galleryRow(set, paths, rw)

mixin galleryCollapsible(name, set, paths, expanded=false, rw)
  h2
    a(
      data-toggle="collapse"
      class=(expanded ? "" : "collapsed")
      href=`#${set}`
      role="button"
      aria-expanded=expanded.toString()
      aria-controls=set
    )= name
  div(id=set class=("photo-gallery collapse" + (expanded ? " show" : "")))
    +galleryRow(set, paths, rw)
